.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.main-content__header {

  /* padding: var(--space-3) var(--space-6);
  border-bottom: 1px solid var(--theme-border);
  height: 65px;
  display: flex;
  align-items: center;
  gap: var(--space-4);
  flex-shrink: 0; */
  .dropdown__button {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s, color 0.2s;
    line-height: 1;
    background-color: var(--theme-bg-input);
    color: var(--theme-text-main);
    border: 1px solid var(--theme-border);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;
    font-size: 1rem;
  }
}

.main-content__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--space-8) 0;
  overflow-y: auto;
}

.main-content__inner {
  /* max-width: 800px; */
  width: 100%;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 32px; */
}

.main-content__title {
  max-width: var(--max-width-main);
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--theme-text-main);
      margin-top: 30vh;
}

.plays .main-content__title {
  margin-top: 20vh;
}

.main-content__chat-section {
  max-width: var(--max-width-main);
  margin: 0 auto;
  width: 100%;
  /* padding-bottom: 5vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.main-content__agent-selector,
.agent-selector {
  align-self: flex-start;
  margin-left: .5rem;

}



.agent-selector {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s, color 0.2s;
  line-height: 1;
  background-color: transparent;
  color: var(--theme-text-main);
  padding: 0.5rem 0.75rem;
  gap: 0.25rem;
  font-size: 0.875rem;

  > span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    pointer-events: none;
    line-height: 1;
  }

  .icon-bot {
    width: 16px;
    height: 16px;
  }

  .icon-chevron {
    width: 20px;
    height: 20px;
  }
}

.main-content__privacy-note {
  font-size: 0.75rem;
  color: var(--theme-text-tertiary);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: 400;
}

.galleries {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}
.main-content-grain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 600 600' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.5;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: luminosity;
  filter: contrast(0.5) saturate(0.1);
}