.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.main-content__header {

  /* padding: var(--space-3) var(--space-6);
  border-bottom: 1px solid var(--theme-border);
  height: 65px;
  display: flex;
  align-items: center;
  gap: var(--space-4);
  flex-shrink: 0; */
  .dropdown__button {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s, color 0.2s;
    line-height: 1;
    background-color: rgb(255, 255, 255);
    color: rgb(28, 49, 74);
    border: 1px solid rgb(200, 216, 234);
    box-shadow: rgba(70, 124, 185, 0.2) 0px 1px 2px 0px;
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;
    font-size: 1rem;
  }
}

.main-content__body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: var(--space-8);
  overflow-y: auto;
}

.main-content__inner {
  max-width: 800px;
  width: 100%;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.main-content__title {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--theme-text-main);
}

.main-content__chat-section {
  max-width: 800px;
  width: 100%;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.main-content__agent-selector,
.agent-selector {
  align-self: flex-start;
  margin-left: .5rem;

}



.agent-selector {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s, color 0.2s;
  line-height: 1;
  background-color: transparent;
  color: rgb(28, 49, 74);
  padding: 0.5rem 0.75rem;
  gap: 0.25rem;
  font-size: 0.875rem;

  > span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    pointer-events: none;
    line-height: 1;
  }

  .icon-bot {
    width: 16px;
    height: 16px;
  }

  .icon-chevron {
    width: 20px;
    height: 20px;
  }
}

.main-content__privacy-note {
  font-size: 0.875rem;
  color: var(--theme-text-tertiary);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  color: rgb(102, 126, 153);
  font-weight: 400
}
