.collapsible {
  width: 100%;
}
.collapsible-content {
  overflow: hidden;
  height: 0;
  transition: height 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.collapsible-content[data-state='open'] {
  height: var(--collapsible-content-height);
}

.collapsible-content > div {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--collapsible-content-height);
  }
  to {
    height: 0;
  }
}