.conversation {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 1
}

.conversation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-bottom: 1px solid #e2e8f0;
}

.conversation-title {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    color: inherit;

}

.action-buttons {
    display: flex;
    gap: 4px;

    button {
        width: 28px;
        height: 28px;

        svg {
            width: 12px;
            height: 12px
        }
    }
}

.conversation-body {
    flex-grow: 1;
    overflow-y: auto;
    padding-left: .5rem;
    width: 100%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(248, 250, 252));
    overscroll-behavior-y: contain;
    scrollbar-color: rgb(233, 239, 247) transparent;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.messages-container {
    width: var(--max-width-main);
    /* width: 50rem; */
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 1.5rem;
}

.reasoning-dropdown-trigger {
    
    cursor: pointer;
    margin-bottom: 10px;
    
     padding: 0.25rem 0px 0.25rem 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(200, 216, 234);
    line-height: 1;
    color: rgb(102, 126, 153);
    display: flex
;
    align-items: center;
    gap: 0.125rem;

    svg {
        width: 16px;
        height: 16px;
    }

    svg {
        transition: transform 0.3s cubic-bezier(0.05, 0.84, 0.31, 1);
    }

    &[data-state='open'] svg {
        transform: rotate(180deg);
    }
}

.conversation-footer {
    /* padding: 20px;
    border-top: 1px solid #e2e8f0; */
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: center;
    padding-bottom: 1rem
}