.reasoning-content {
    color: rgb(102, 126, 153);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 1.5;
    font-size: 0.8rem;
}

.reasoning-container {
    padding: 0.5rem 0px 0.5rem 0.75rem;
    margin-left: 1rem;
    border-left: 1px solid rgb(200, 216, 234);
}