.conversation {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 1
}

.conversation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-2) var(--space-2) var(--space-2) var(--space-4);
    border-bottom: 1px solid var(--theme-border);
}

.conversation-title {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-md);
    line-height: var(--line-height-normal);
    font-style: normal;
    color: inherit;
}

.action-buttons {
    display: flex;
    gap: 4px;

    button {
        width: var(--icon-size-lg);
        height: var(--icon-size-lg);

        svg {
            width: var(--icon-size-xs);
            height: var(--icon-size-xs);
        }
    }
}

.conversation-body {
    flex-grow: 1;
    overflow-y: auto;
    padding-left: var(--space-2);
    width: 100%;
    /* background-image: linear-gradient(var(--color-ui-background-elevated), var(--color-ui-background)); */
    overscroll-behavior-y: contain;
    scrollbar-color: var(--theme-scrollbar-thumb) var(--theme-scrollbar-track);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.html-content {
    > * + * {
        margin: 1rem 0px 0px;
    }
}

.messages-container {
    width: var(--max-width-main);
    max-width: 100%;
    margin: 0 auto;
    padding: var(--space-8) var(--space-6);
}

.reasoning-dropdown-trigger {
    cursor: pointer;
    margin-bottom: var(--space-3);
    padding: var(--space-1) 0px var(--space-1) var(--space-1);
    border-radius: var(--radius-default);
    border: 1px solid var(--theme-border);
    line-height: 1;
    color: var(--theme-text-tertiary);
    display: flex;
    align-items: center;
    gap: var(--space-1);

    svg {
        width: var(--icon-size-sm);
        height: var(--icon-size-sm);
        transition: transform 0.3s var(--easing-in-out);
    }

    &[data-state='open'] svg {
        transform: rotate(180deg);
    }
}

.conversation-footer {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    align-items: center;
    padding-bottom: var(--space-4);
}