.new-tables {
    table {
        margin:  2rem 0;
        position: relative;
        z-index: 0;

        &:before {

            content: '';
            position: absolute;
            display: block;
            left: -.75rem;
            top: -.75rem;
            width: calc(100% + 1.5rem);
            height: calc(100% + 1.5rem);
            z-index: -1;
            border-radius: 1rem;
            background: linear-gradient(130deg, #eaf8fb, #f4f4f4 80%), transparent;
        }


        td,
        th {
            border: none;
            border-bottom: 1px solid rgb(226, 237, 249);
        }

        tr:last-of-type td {
            border-bottom: none;
        }


    }
}